.left-column {
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 17%;
  margin-right: 1vw;
  font-family: 'Mulish';
}
.links {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  gap: 8vh;
} 

.sidebar-item {
  display: flex;
  font-size: 16.5px;
  color: #A6A6A6;
  justify-content: left;
}

.sidebar-icon {
  color: #A6A6A6;
  background: none;
}


.sidebar-link {
  text-decoration: none;
  color: #A6A6A6;
  margin-left: 15px;
}

.sidebar-link:hover {
  color: #212121;
}
